aht_calcs/
aaron_aht_stuff/monthly_AHT/
CERES_data.nc
phd_projects/strm_functions.nc
antarctic_event/CERES_antarctic_data.nc
era5_raw_data/
.ipynb_checkpoints/
__pycache__/
figures/
aht_time_series
antarctic_event/
phd_projects/
aaron_aht_stuff/
AHT_MSE_relationships.ipynb
AHT_work_w_Lily.ipynb
DJF_AHT_trends.ipynb
Dry_moist_aht.ipynb
Eddy_hadley_connections.ipynb
Local_eddy_aht_distributions.ipynb
Local_extremes_trends.ipynb
antarctica_trajectory_data.csv
hadley_cell_strength_values.csv

